.profile-doctor-container {
    .intro-doctor {
        display: flex;

        .content-left {
            background-size    : cover;
            background-repeat  : no-repeat;
            background-position: center;
            width              : 80px;
            height             : 80px;
            border-radius      : 50%;

            .view-detail-doctor {
                margin-left: 8px;
                margin-top : 89px;

                .custom-link {
                    text-decoration: none;
                    /* Loại bỏ dấu gạch ngang */

                    color: #45c3d2;

                }
            }
        }

        .content-right {
            width       : calc(100% - 80px);
            padding-left: 10px;

            .up {
                font-weight: 600;
                color      : #45c3d2;
            }

            .down {
                text-align: justify;
            }

            .custom-location {
                margin: 0 5px;
            }
        }
    }


}