.users-table {
    max-height: 500px;
    /* Đặt chiều cao tối đa của container */
    overflow-y: auto;

    /* Hiển thị thanh cuộn nếu nội dung vượt quá chiều cao */
    .btn-edit {
        height    : 30px;
        width     : 20px;
        margin    : 5px;
        background: transparent;
        color     : orange;

        &:hover {
            background-color: transparent;
            color           : orange
        }
    }

    .btn-delete {
        height    : 30px;
        width     : 20px;
        margin    : 5px;
        background: transparent;
        color     : red;

        &:hover {
            background-color: transparent;
            color           : red
        }
    }
}




.modal-new-user {
    button.close {
        background: transparent;
        color     : white;
        font-size : 32px;
        border    : none;
    }

    .form-group {
        margin-top: 7px;
    }
}