.users-table {
    /* Đặt chiều cao tối đa của container */
    max-height: 500px;
    /* Hiển thị thanh cuộn nếu nội dung vượt quá chiều cao */
    overflow-y: auto;

    .btn-edit {
        height      : 30px;
        width       : 29px;
        margin      : 5px;
        background  : transparent;
        color       : orange;
        padding-left: 7px;

        &:hover {
            background-color: transparent;
            color           : orange
        }
    }

    .btn-delete {
        height      : 30px;
        width       : 29px;
        margin      : 5px;
        background  : transparent;
        color       : red;
        padding-left: 7px;

        &:hover {
            background-color: transparent;
            color           : red
        }
    }
}




.modal-new-user {
    button.close {
        background: transparent;
        color     : white;
        font-size : 32px;
        border    : none;
    }

    .form-group {
        margin-top: 7px;
    }
}