.manage-schedule-container {
    .m-s-title {
        margin        : 20px 0;
        text-align    : center;
        font-size     : 22px;
        font-weight   : 600;
        text-transform: uppercase;
    }

    .pick-hour-container {
        // border   : 1px solid red;
        margin   : 15px 5px;
        display  : flex;
        gap      : 20px;
        flex-wrap: wrap;

        .button {
            padding      : 5px 15px;
            border-radius: 10%;
        }

        .active {
            background-color: aqua;
        }
    }
}