.login-background {
    height     : 100vh;
    background : linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family: "work sans";
    display    : flex;

    .login-container {
        text-align      : center;
        font-family     : 'open sans', sans-serif;
        padding         : 2rem 0;
        margin          : 80px auto;
        font-size       : 1rem;
        max-width       : 500px;
        min-width       : 300px;
        max-height      : 700px;
        width           : 20%;
        height          : 80%;
        background-color: #FFFFFF;
        border-radius   : 25px;


        .login-content {
            padding: 20px;

            .text-login {
                text-align : center;
                font-weight: 600;
                font-size  : 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right   : 10px;
                        top     : 10px;
                    }
                }

            }

            .btn-login {
                margin       : 10px 0;
                width        : 100%;
                border-radius: 15px;
                height       : 35px;
                border       : none;
                outline      : none;
                background   : linear-gradient(135deg, #22c1c3 0%, #fdbb2d 100%);
                font-family  : "work sans";
                color        : white;
                font-size    : 18px;
            }

            .forgot-password {
                font-size: 12px;

            }

            .social-login {
                font-size      : 20px;
                border-radius  : 100%;
                display        : flex;
                margin-top     : 10px;
                text-align     : center;
                justify-content: center;

                .icon-facebook {
                    font-size       : 35px;
                    padding         : 9px 0px;
                    background-color: blue;
                    border-radius   : 88%;
                    margin          : 5px;
                    height          : 55px;
                    width           : 55px;
                    color           : white;
                }

                .icon-google {
                    font-size       : 35px;
                    padding         : 9px 0;
                    background-color: red;
                    border-radius   : 93%;
                    margin          : 5px;
                    height          : 55px;
                    width           : 55px;
                    color           : white;
                }


            }


        }

    }
}