.section-speciality {
    height          : 330px;
    border-bottom   : 3px solid #efeef5;
    background-color: #f5f5f5;

    .speciality-container {
        margin: -3px 95px;
        height: 250px;
        width : 85vw;

        .speciality-header {
            font-size      : 24px;
            font-weight    : bold;
            display        : flex;
            padding        : 18px 10px 7px 1px;
            align-items    : center;
            justify-content: space-between;

            .see-more {
                background-color: #c1cbc2;
                border          : none;
                color           : #000000;
                padding         : 6px 14px;
                text-align      : center;
                text-decoration : none;
                display         : inline-block;
                font-size       : 15px;
                margin          : 4px 2px;
                cursor          : pointer;
                text-transform  : uppercase;

                &:hover {
                    background-color: #f3e309;
                    color           : #ece9e9;
                }
            }
        }

        .speciality-body {
            .slick-list {
                background-color: #f5f5f5;

            }

            /* the slides */
            .slick-slide {
                padding-left : 0px;
                padding-right: 12px;
                margin-right : 0px;
            }

            .img-customize {
                padding-left       : 0px;
                padding-right      : 5px;
                // border          : 1px solid #d63c3c;
                height             : 200px;
                width              : 278px;
                // background   : #00ffff1a;
                margin-top         : 30px;

                .speciality-logo {
                    background         : url(../../../assets/speciality/co-xuong-khop.jpg);
                    width              : 102%;
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : #eee;
                    padding-top        : 59.25%;
                }
            }

            //customize slick slider
            .slick-prev {
                height     : 45px !important;
                width      : 40px !important;
                z-index    : 10;
                margin-left: 11px !important;
                background : #f5f5f5 !important;
                opacity    : 0.7;

                &:hover {
                    opacity   : 1;
                    background: #fff;

                }
            }

            .slick-next {
                height      : 45px !important;
                width       : 40px !important;
                z-index     : 10;
                margin-right: 20px !important;
                background  : #f5f5f5 !important;
                opacity     : 0.7;

                &:hover {
                    opacity   : 1;
                    background: #fff;
                }
            }

            .slick-arrow:before {
                font-family: 'Glyphicons Halflings' !important;
                font-style : normal;
                font-weight: 400;
                background : #fff;
                border     : 0px solid #d7d7d7;
                padding    : 10px;
                text-align : center;
                color      : #959595 !important;
            }

            // arrow left-right
            .slick-prev:before {
                content: "\003C" !important;
            }

            .slick-next:before {
                content: "\003E" !important;
            }
        }

    }
}